<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>
      {{ title + " - Reino Eterno Online" if title else "Reino Eterno Online" }}
    </title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Reino Eterno Online</a></h1>
    </header>
    <main>
      {%- if title -%}
      <h1>{{title}}</h1>
      {%- elif page.fileSlug -%}
      <h1>{{page.fileSlug}}</h1>
      {%- endif -%} {%- if refs -%}
      <p>Referências: {{ refs }}</p>
      {%- endif -%} {{ content | safe }}
      <div class="article-footer">
        {{ "👨‍💼 " + author if author}}<br />
        {{ "🕒 " + page.date if page.date }}
      </div>
    </main>
    <footer>
      <p>Adam Foerster</p>
    </footer>
    {#
    <nav class="breadcrumbs">
      <a href="/">Início</a>
      {%- set parts = page.filePathStem.split("/") -%} {%- set href = "" -%} {%-
      for part in parts -%} {%- set href = href + "/" + (part | urlencode) -%} ›
      <a href="{{ href }}/">{{ part | capitalize }}</a>
      {%- endfor -%}
    </nav>
    #}
  </body>
</html>
